* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 17px Helvetica, Arial; }
#messages{form { background: rgb(85, 85, 85); padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button { width: 9%; background: rgb(208, 208, 208); border: none; padding: 10px; }}
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; color: #480006!important;}
#messages li:nth-child(even) { background: #e3e3e3; color: #004800!important;}
#messages{padding-bottom: 50px;}