extends layout
block content
	ul(id="messages" class="w3-xxlarge")
		form(action="", class="w3-large")
			input(id="m" autocomplete="off",class="w3-large")
			button(class="w3-large") Send
		script(src="./javascripts/clientchat.js")

