extends layout
block content
	div(class="w3-center")
		h1(class="w3-jumbo") Indes-Chat
		form(action="")
			input(id="name" type="text", placeholder="username")
			button(id="connect") Connect
		script(src="/javascripts/landing.js")